.seats{
    display: flex;
    margin: 2.5rem auto;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
    &__left{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
}