.paymethods{
    width: 81%;
    margin: 0 auto;
    &__title{
        line-height: 44px;
        margin-bottom: 24px;
    }
    &__payment{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-radius: .5rem;
        padding: 24px 32px 20px;
    }
    &__paymentCards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__paymentCredit, &__paymentCash{
        p, figure{
            margin: 0;
            font-size: 15px;
            font-weight: 400;
            line-height: 17px;
        }
        figure{
            padding: 20px 0 24px;
        }       
    }
}
