@import '../../../index.scss';

.seat__container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;


    &__row {
        display: flex;
        flex-direction: row;
        display: flex;
        gap: .5rem;
    }
    &__cell {
        width: 3rem;
        height: 3rem;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &.bg-white {
            background-color: $colorSecondary;
        }
        &.available {
            background-color: $colorSecondary;
        }
        &.reserved {
            background-color: gray;
        }
        &.selected {
            background-color: $colorPrimary;

        }
    
    &.aisle {
        background-color: $colorSecondary;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            text-align: center;
            color: black;
        }
    }
}
}

/*********************Media Query***************************/

@media (max-width: 658px) {
    .seat__container {
        &__cell {
            width: 2rem;
            height: 2rem;
        } 
    
    }

}