.footer {
  margin-top: 2rem;
  background-color: #080206;
  color: white;
  padding: 20px;
  text-align: center;
  h4 {
    margin-bottom: 10px;
  }
  a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  a:last-child {
    color: white;
    text-decoration: none;
  }
  img {
    vertical-align: middle;
    margin-right: 5px;
  }
}
