@import '../../index.scss';

.container__search {
    position: relative;
    background: #f7f7f7;
    width: 640px;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: 40px;
    margin-left: 200px;
    margin-bottom: 3rem;
    h3 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1rem;
    }

    &__option {
        background: $colorSecondary;
        border: 2px solid #d3cbcb;
        width: 50%;
        height: 40px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-around;
        padding: 5px;
        border-radius: .3rem;

        button {
            width: 50%;
            border-radius: .3rem;
            padding: 0 12px;
            border: none;
            background-color: $colorSecondary;

            &.active {
                background-color: $colorPrimary;
                color: $colorSecondary;
            }
        }
    }

    &__cities,
    &__dates,
    &__passenger {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      gap: 1.3rem;
    }

    &__date {
        border: 2px solid #d3cbcb;
        border-radius: .3rem;
        text-align: center;
        color: #080206;
        height: 50px;
        width: 280px;
        padding: 25px;

    }

    &__city {
        border: 2px solid #d3cbcb;
        border-radius: .3rem;
        text-align: center;
        display: block;
        color: #080206;
        height: 106px;
        width: 280px;
        padding: 25px;
        cursor: pointer;

        & h3 {
            font-size: 1.5rem;
            margin-bottom: 7px;
        }
    }

    &__quantity {
        border: 2px solid #d3cbcb;
        border-radius: .3rem;
        text-align: center;
        color: #080206;
        height: 50px;
        width: 280px;
        padding: 25px;
    }

    &__coupon {
        border: 2px solid #d3cbcb;
        border-radius: .3rem;
        text-align: center;
        color: #080206;
        height: 50px;
        width: 280px !important;
        padding: 25px;
    }
    &__button {
        display: flex;
        justify-content: center;
    }
    &__btn {
        background-color: $colorPrimary;
        border-radius: 3rem;
        width: 100%;
        height: 3rem;
        padding: 0 30px;
        border: none;
        color: $colorSecondary;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
            background-color: rgba(124, 4, 102, 0.9);
        }

        span {
            transform: rotate(-45deg);
            margin-left: 1rem;
        }

        &__plane {
            margin: 1rem 1rem;
        }
    }
}
.container__img {
    img {

   
    // background-image: url(../../../src/assets/img/bg-flight.jpeg);
width: 900px;
border-radius: 20px;
position: absolute;
right: 60px;
    right: 100px;
    top: 75px;
    height: 590px;
 }
}