.payment{
    display: flex;
    margin: 2.5rem auto;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &__information{
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 1rem;
        margin-bottom: 2.5rem;
        span{
            font-size: 15px;
            font-weight: bold;
        }
    }
}
@media (max-width: 917px) {
    .booking{
        width: 100%;
    }
    .payment{
        &__information{
            width: 100%;
        }
    }
}