.css-1jr6r0j-MuiStack-root-MuiMultiInputDateRangeField-root>:not(style)+:not(style) {
  margin: 2px !important;  
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root {
    width: 280px !important;
}
.container__search__cities, .container__search__dates, .container__search__passenger {
    width: 100% !important;
}
.css-10e3ze8-MuiStack-root {
    color: transparent !important;
}